{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "transform-async-to-generator",
    "syntax-async-functions",
    "transform-regenerator",
    "transform-runtime",
    "transform-decorators-legacy"
  ]
}
